<h1>Contestants for Bachelorette: <%= @bachelorette.name %></h1>
<h3>These contestants are from these hometowns: <%= @hometowns.to_sentence %></h3>
<br>
<% @contestants.each do |contestant| %>
  <ul>
    <%= link_to "Contestant: #{contestant.name}", "/contestants/#{contestant.id}" %>
  </ul>
  <ul>
    <%= contestant.age %>
  </ul>
  <ul>
    <%= contestant.hometown %>
  </ul>
  <br>
<% end %>
