<h2>Bachelorette: <%= @bachelorette.name %></h2>
<br>
<ul>
  <p>Season: <%= @bachelorette.season_number %></p>
</ul>
<ul>
  <p>Season Description<%= @bachelorette.season_description %></p>
</ul>
<ul>
  <p>Average Age of Contestants: <%= @bachelorette.average_contestants_age %></p>
</ul>
<ul>
  <%= link_to "This Bachelorette's Contestants", "/bachelorettes/#{@bachelorette.id}/contestants"%>
</ul>
